name: Tests

on:
  push:
    branches: [main, 0.**]
  pull_request:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v3.0.1

  Test:
    #needs: Linting
    name: ${{ matrix.os }}, ${{ matrix.env }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        env:
          - environment.yml
        include:
          - env: environment.yml
            os: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ${{ matrix.env }}

      - name: Check and Log Environment
        run: |
          python -V
          micromamba info
          micromamba list
          
      - name: Test
        run: |
          pytest -v -r s --color=yes .

      - uses: codecov/codecov-action@v5
